* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  padding: 50px 60px;
  font-family: sans-serif;
  text-align: center;
}

.banner h1 {
  color: #004E89;
  font-size: 30px;
  font-weight: 400;
  font-family: monospace;
}

.banner h2 {
  color: #AAA;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}

.banner p {
  color: #333;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  font-family: monospace;
}

.banner img {
  height: 150px;
  margin: 0 auto;
  border-radius: 100%;

}
